<!DOCTYPE html>
<html>
<head>
  <title>RailsGroupProj</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= .container %>
    <%= .header %>
      <%= ul.nav.nav-pills.pull-right %>
        <%= li = link_to "Home", root_path %>
          <%= if current_user %>
            <%= p = "I'm logged in" %>
          <%= else %>
            <%= li = link_to "Sign In", root_path %>
            <%= li = link_to "Sign Up", root_path %>
          <%= end %>



<%= yield %>

</body>
</html>
