<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

<%= form_for [@user, @status], url: user_path(@user) do |f| %>
	<%= f.text_field :description %></br>

	<%= f.submit %>
<% end %>
<%= form_for @user, url: user_path(@user) do |f| %>
	<%= f.text_field :address %></br>
	<%= f.submit %>
<% end %>

<!--
<%= form_for [@user, @status], url: user_status_path(@user) do |f| %>
	<%= f.text_field :description %></br>
	<%= f.submit %>
<% end %>
-->